@import '../src/common/colors.scss';

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
}

a{
    text-decoration: none;
}

body{
    background-color: $primary-color;
}

.container{
    margin: 0 40px;
}